<!doctype html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>Hue-clone by PubNub</title>
  <meta name="description" content="Pkat's Smarthome">
  <meta name="author" content="Philip Katterohn @pkatterjohn">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../public/css/rgb.css">
</head>

<body>

<header>
    <% include ../../partials/header %>
</header>

  <header>
    <img src="../public/img/lego.png">
    Poor man's <strong>Hue</strong>
    <div class="pubnub"></div>
  </header>


  <section class="preference">

    <div>
      <div class="caption red">Red</div>
      <label for="red" class="brightness fa">
        <input id="red" type="range" min="0" max="255" step="1" value="0">
      </label>
    </div>

    <div>
      <div class="caption green">Green</div>
      <label for="green" class="brightness fa">
        <input id="green" type="range" min="0" max="255" step="1" value="0">
      </label>
    </div>
    
    <div>
      <div class="caption blue">Blue</div>
      <label for="blue" class="brightness fa">
        <input id="blue" type="range" min="0" max="255" step="1" value="0">
      </label>
    </div>

  </section>
    
  <label class="switch">
   <input id='led1' type="checkbox">
   <span class="slider round"></span>
  </label>

  <label class="switch">
   <input id='led2' type="checkbox">
   <span class="slider round"></span>
  </label>

  <label class="switch">
   <input id = 'led3' type="checkbox">
   <span class="slider round"></span>
  </label>
  



  <script src="https://cdn.pubnub.com/pubnub-3.7.15.min.js"></script>
  <script>
(function(){

  var pubnub = PUBNUB.init({
    publish_key: 'pub-c-81e39350-20ce-40b7-9d57-febcc6e2742b',
    subscribe_key: 'sub-c-3ca2f914-47e6-11e8-a222-663fa049354e',
    ssl: true
  });

  var channel = 'hue-clone';

  var red = document.getElementById('red');
  var green = document.getElementById('green');
  var blue = document.getElementById('blue');
  var led1 = document.getElementById('led1');
  var led2 = document.getElementById('led2');
  var led3 = document.getElementById('led3');

  // Initial brightness state
  var brightness = {r: 0, g: 0, b: 0}; 
  var ledState = {one: false, two: false, three: false};
  var data = {rgb: brightness, leds: ledState};

  // UI Reset: Subscribe data from all subscibers of the channel to set the state correctly

  pubnub.subscribe({
    channel: channel,
    message: resetSliders, // reset the slider UI every time a subscriber makes a change
    connect: initSliders // initialize the slider states for the fisrt time launching the app
  });

  function resetSliders(m) {
    red.value = data.brightness.r = m.r;
    green.value = data.brightness.g = m.g;
    blue.value = data.brightness.b = m.b;
    led1.value = data.ledState.one = m.one;
    led2.value = data.ledState.two = m.two;
    led3.value = data.ledState.three = m.three;
  }

  function initSliders() {
    pubnub.history({
      channel: channel,
      count: 1,
      callback: function(messages) {
        messages[0].forEach(function(m) {
          console.log(m);
          resetSliders(m);
        });
      }
    });
  }

  function publishUpdate(data) {
    console.log(data);

    pubnub.publish({
      channel: channel, 
      message: data
    });
  }

  // UI EVENTS

  red.addEventListener('change', function(e){
    brightness.r = this.value;
    publishUpdate(data);
  }, false);

  green.addEventListener('change', function(e){
    brightness.g = this.value;
    publishUpdate(data);
  }, false);

  blue.addEventListener('change', function(e){
    brightness.b = this.value;
    publishUpdate(data);
  }, false);

  led1.addEventListener('change', function(e){
    led1.value = this.value;
    publishUpdate(data);
  }, false);

  led2.addEventListener('change', function(e){
    led2.value = this.value;
    publishUpdate(data);
  }, false);

  led3.addEventListener('change', function(e){
    led3.value = this.value;
    publishUpdate(data);
  }, false);

})();
  </script>
  
</body>
</html>
