<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<body class="container">
<style>
body{
	background-image: url("views/Menu/planet.jpg"); 
}
</style>

<header>
    <% include ../Menu/menu_tabs %>
</header>

</body>
</html>
